@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: rgb(39, 153, 206);
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  text-decoration: none;
}
nav .logo a:hover {
  color: var(--text-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__content ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}


ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  color: var(--primary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.description2{
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--text-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--text-dark);
  color: #ffffff;
}


.video{
  margin-top: -30px;
  padding: 30px;
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* ----------- ABOUT ------------ */
#about{
    display: flex;
    margin-top: 20px;
    padding: 80px 0;
    color: var(--text-dark);
    font-family: "Poppins", sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.image-home{
  position: absolute;
  margin-left: 700px;
  display: flex;
  width: 100%;
  height: 60%;
  z-index: 0;
}

.about-col-2{
    margin-left: 60px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px; 
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: var(--primary-color);
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    margin-left: -60px;
    margin: 10px 0;
    color: var(--text-light);
    list-style: none;   
}

.tab-contents ul li span{
  color: var(--text-dark);
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}
/* ---------- END OF ABOUT ------------- */

/* ---------- PORTOFOLIO ----------- */
#porto-folio{
  display: flex;
  height: 100%;
  margin-top: 130px;
  margin-left: 100px;
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
}
/* ---------- END OF PORTOFOLIO ------------- */

/* ----------- CONTACT ------------ */
#contact{
  display: flex;
  margin-top: 65px;
  margin-left: 100px;
  padding: 80px 0;
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 65%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i {
  color: var(--text-dark);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: var(--primary-color);
  transform: translateY(-5px);
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border: solid black;
  border-radius: 6px ;
}



/* ----------- END CONTACT ---------- */






@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .about-col-1 img{
      display: flex;
      width: fit-content;
      margin-left: 30px;
      border-radius: 15px;
  }

  .sub-title{
    margin-top: 30px;
  }

}